.imagen-indexarriba{
        height: 81.25rem;
        display: flex;
        justify-content: flex-end;
        padding-top: 6.25rem;
}

.h1-index{
        font-weight: bold;
        font-size: 47px;
        margin-left: 1.875rem;
        margin-top: -71.69rem;
        color: map-get($colores , color2 );
        text-transform: $texto-transfor;
        letter-spacing: .5625rem;
    .h1-index-mobile{
        display: none;
    }
    .text-degrade{
        @include color-degrade-100;
    }
}

.texto-secudario-index{
    .h2-index{
        font-size: 24px;
        margin-left: 1.875rem;
        margin-top: .625rem;
        color: map-get($colores , color2 );
    }
    .medium-h2{
        font-weight: 31.25rem;
        margin-left: 1.875rem;
    }
    .negrita-h2{
        font-weight: 43.75rem;
        text-transform: $texto-transfor;
        }
        .retangulo{
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
        height: .3125rem;
        margin-left: 1.25rem;
        width: 31.25rem;
        }
        .unete-ahora{
            width: 19.375rem;
            height: 4.6875rem;
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 6.25rem;
            cursor: pointer;
            font-size: 28px;
            color: map-get($colores , color2 );
            font-weight: bold;
            margin-left: 6.25rem;
            margin-top: 3.125rem;
            letter-spacing: .1875rem;
            border: none;
            &:active{
                background: transparent;
                border: 5px solid map-get($colores , color2 );
                    color: map-get($colores , color2 );
        }
}
.icon-flecha-circular{
    margin-left: 270px;
    margin-top: 70px;
}
}

.contador-general{
    @include grid(12.5rem 12.5rem 12.5rem,6.25rem 6.25rem,"contador imagenes imagenes"  "contador descripcion descripcion",none,none);
    margin-left:1.875rem;
    margin-top: 4.375rem;
    justify-items: center;
    .contador{
        width: 10.125rem;
        height: 10.25rem;
        background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 3.125rem;
            cursor: pointer;
            font-size: 3.125rem;
            color: map-get($colores , color2 );
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: contador;
            margin-top: .9375rem;
    }
    .imagenes{
        grid-area: imagenes;
        align-items: center;
    }
    .descripcion{
        grid-area: descripcion;
        font-size: 18px;
        color: map-get($colores , color2 );
        font-weight: 25rem;
    }
    .num-40{
        font-weight: bold;
        font-size: 24px;
        text-decoration: $texto-transfor;
    }
    .neurona{
        font-weight: bold;
        font-size: 24px;
        text-decoration: $texto-transfor;
    }
}

.contenedor-personaliza{
    border-radius: 100px 100px 0px 0px;
    background-color: map-get($colores , color2 );
    height: 42.375rem;
    margin-top: 15.625rem;
    box-shadow: inset 0px 10px 10px map-get($colores , color3 );
    .h2-personaliza{
        color: map-get($colores , color1 );
        font-size: 60px;
        font-weight: bold;
        margin-left: 2.5rem;
        text-transform: $texto-transfor;
        padding-top: 5.625rem;
    }
    .text-inferior{
        font-size: 38px;
        font-weight: 25rem;
        text-transform: none;
    }
    .p-personaliza{
        color:map-get($colores , color1 );
        font-size: 20px;
        font-weight: 6.25rem;
        display: flex;
        flex-direction: column;
        margin-left: 46.25rem;
        margin-top: -20.3125rem;
        span.line-break {
            display: block;
            margin-bottom: 10px;
        } 
        .control-futuro{
            font-size: 24px;
            font-weight: bold;
        }
        
        .you{
            font-family:"montserrat alter" ;
            src: url(../assets/fonts/MontserratAlternates-Bold.ttf);
            font-size: 24px;
            font-weight: bold;
        }
        
        .financ{
            font-family:"montserrat" ;
            src: url(../assets/fonts/Montserrat-Black.ttf);
            font-size: 24px;
            font-weight: 56.25rem;
        }
    }
}

.contenido-usuario-principal{
    @include grid(392px 258px 258px 258px,none,none,none,none);
    margin-top: -12.5rem;
    grid-gap: 3.1875rem;
    justify-content: center;
    .conten-info-person{
        width: 24.5rem;
        height: 32.875rem;
        background-color: $color-card;
        border-radius: 50px;
        filter: drop-shadow(0px 10px 10px #000000) opacity(2);
        .icon-personal{
            background-color: map-get($colores , color2 );
            border-radius: 100px;
            width: 4.875rem;
            height: 4.875rem;
            margin-top: 3.125rem;
            margin-left: 1.25rem;
            @include flex-p(flex,center);
            img{
                margin-left: .75rem;
            }
        }
        .h2-info-perfil{
            color: map-get($colores , color2 );
            font-weight: bold;
            font-size: 22px;
            text-transform: $texto-transfor;
            margin-left: 7.5rem;
            text-align: left;
            margin-top: -5rem;
        }
        .h2-personal{
            @include color-degrade-100;
        }
        .p-gestiona{
            color: map-get($colores , color2 );
            font-weight: 25rem;
            font-size: 20px;
            text-align: center;
            margin-top: 3.125rem;
        }
        .lista-clasificacion{
            color: map-get($colores , color2 );
            text-align: center;
            font-weight: 6.25rem;
            font-size: 18px;
            margin-top: 3.125rem;
            width: 18.75rem;
            margin-left: 2.8125rem;
        }
        .empezar{
            width: 11.875rem;
            height: 3.125rem;
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 100px;
            cursor: pointer;
            font-size: 24px;
            color: map-get($colores , color2 );
            font-weight: bold;
            margin-left: 6.25rem;
            margin-top: 4.375rem;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            border: none;
            .textbutton{
                margin-left: 20px
            }
            .iconbutton{
                margin-right: 10px;
                margin-top: 10px;
            }
            img{
                width: 34px;
                height: 34px;
                transform: rotate(45deg);
            }
            &:active{
                background: transparent;
                border: 5px solid map-get($colores , color2 );
                    color: map-get($colores , color2 );
                }
        }    
    }
    .conten-objetivo{
        width: 16.125rem;
        height: 26.3125rem;
        background-color: #212121;
        border-radius: 50px;
        filter: drop-shadow(0px 10px 10px #000000) opacity(2);
        .icon-objetivo{
            background-color: map-get($colores , color2 );
            border-radius: 100px;
            width: 78px;
            height: 78px;
            margin-top: 50px;
            margin-left: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .h2-objetivo-finan{
            color: map-get($colores , color2 );
            text-align: center;
            text-transform: $texto-transfor;
            margin-top: 50px;
        }
        .empezar2{
            width: 190px;
            height: 50px;
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 100px;
            cursor: pointer;
            font-size: 24px;
            color:map-get($colores , color2 );
            font-weight: bold;
            margin-left: 30px;
            margin-top: 70px;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            border: none;
            .textbutton2{
                margin-left: 20px
            }
            .iconbutton2{
                margin-right: 10px;
                margin-top: 10px;
            }
            img{
                width: 34px;
                height: 34px;
                transform: rotate(45deg);
            }
            &:active{
                background: transparent;
                border: 5px solid map-get($colores , color2 );
                    color: map-get($colores , color2 );
                }
        }
    }
    .conten-herramienta{
        width: 16.125rem;
        height: 26.3125rem;
        background-color: #212121;
        border-radius: 50px;
        filter: drop-shadow(0px 10px 10px #000000) opacity(2);
        .icon-herramienta{
            background-color: map-get($colores , color2 );
            border-radius: 100px;
            width: 78px;
            height: 78px;
            margin-top: 50px;
            margin-left: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .h2-herramientas-inter{
            color: map-get($colores , color2 );
            text-align: center;
            text-transform: $texto-transfor;
            margin-top: 50px;
        }
        .empezar3{
            width: 190px;
            height: 50px;
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 100px;
            cursor: pointer;
            font-size: 24px;
            color:map-get($colores , color2 );
            font-weight: bold;
            margin-left: 30px;
            margin-top: 70px;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            border: none;
            .textbutton3{
                margin-left: 20px
            }
            .iconbutton3{
                margin-right: 10px;
                margin-top: 10px;
            }
            img{
                width: 34px;
                height: 34px;
                transform: rotate(45deg);
            }
            &:active{
                background: transparent;
                border: 5px solid map-get($colores , color2 );
                    color: map-get($colores , color2 );
                }
        }
    }
    .conten-soporte{
        width: 16.125rem;
        height: 26.3125rem;
        background-color: #212121;
        border-radius: 50px;
        filter: drop-shadow(0px 10px 10px #000000) opacity(2);
        .icon-soporte{
            background-color: map-get($colores , color2 );
            border-radius: 100px;
            width: 78px;
            height: 78px;
            margin-top: 50px;
            margin-left: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .h2-soporte-asist{
            color: map-get($colores , color2 );
            text-align: center;
            text-transform: $texto-transfor;
            margin-top: 50px;
        }
        .empezar4{
            width: 190px;
            height: 50px;
            background: rgb(0,255,218);
        background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
            border-radius: 100px;
            cursor: pointer;
            font-size: 24px;
            color:map-get($colores , color2 );
            font-weight: bold;
            margin-left: 30px;
            margin-top: 70px;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            border: none;
            .textbutton4{
                margin-left: 20px
            }
            .iconbutton4{
                margin-right: 10px;
                margin-top: 10px;
            }
            img{
                width: 34px;
                height: 34px;
                transform: rotate(45deg);
            }
            &:active{
                background: transparent;
                border: 5px solid map-get($colores , color2 );
                    color: map-get($colores , color2 );
                }
        }
    }
}
.title-segundo{
    .h2-index2{
        letter-spacing: 9px;
        font-size: 60px;
        font-weight: bold;
        color: map-get($colores , color2 );
        text-align: center;
        text-transform: $texto-transfor;
        margin-top: 170px;
    }
    .financiera{
        @include color-degrade-100;
    }
    .h3-index2{
        color: map-get($colores , color2 );
        font-size: 18px;
        font-weight: 31.25rem;
        text-align: center;
        margin-top: 50px;
    }
    .p-index2{
        color: map-get($colores , color2 );
        font-size: 18px;
        font-weight: 18.75rem;
        text-align: center;
        margin-top: 30px;
    }
    .p-index2-mobile{
        display: none;
    }
    img{
        margin-left: 60px;
        margin-top: 50px;
    }
    .buttom-index2{
        width: 363px;
        height: 87px;
        background: rgb(0,255,218);
    background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(60,61,247,1) 100%);
        border-radius: 100px;
        cursor: pointer;
        font-size: 36px;
        color:map-get($colores , color2 );
        font-weight: bold;
        letter-spacing: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 550px;
        margin-top: -45px;
        position: absolute;
        border: none;
        border: 10px solid map-get($colores , color1 );
        &:active{
            background: map-get($colores , color1 );
            border: 5px solid map-get($colores , color2 );
                color: map-get($colores , color2 );
            }
    }
}
