@font-face {
    font-family:"radiocanada" ;
    src: url(../assets/fonts/RadioCanada-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family:"radiocanadabig" ;
    src: url(../assets/fonts/RadioCanadaBig-VariableFont_wght.ttf);
}

@font-face {
    font-family:"montserrat alter" ;
    src: url(../assets/fonts/MontserratAlternates-Bold.ttf);
}

@font-face {
    font-family:"montserrat" ;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}


.fuenteRadioCanadabig{font-family:"radiocanadabig"} 

.fuenteRadioCanada{font-family:"radiocanada"}
